@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-monserrat);
}

.handwrittenFont {
  font-family: var(--font-dzeragir);
}

.squareFont {
  font-family: var(--font-qarakusi);
}

.allegroFont {
  font-family: var(--font-allegro);
}

.barakFont {
  font-family: var(--font-barak);
}

.russianFont {
  font-family: var(--font-rus);
}

.rusFont {
  font-family: var(--font-rus);
}
